body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

.navBar {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(48, 47, 47);
    align-items: center;
    position: relative;
}

.album {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
}

.camera {
    font-size: 20px;
    margin-right: 6px;
}

.bars {
    color: lightgray;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 2px 4px;
    font-size: 24px;
    position: absolute;
    left: 90%;
}

.informationContainer {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.title {
    font-size: 24px;
    opacity: 0.7;
}

.textInfo {
    width: 500px;
    opacity: 0.5;
}

.buttonsContainer {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 140px;
    border-radius: 2px;
    margin: 4px;
}

.coloredBtn1 {
    background-color: rgb(23, 152, 233);
    color: white;
    border-color: rgb(23, 152, 233);
}

.coloredBtn2 {
    background-color: gray;
    border-color: gray;
}

.elementsContainerWrap {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 246, 248);
    padding: 20px 50px;
}

.elementsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: space-around;
}

.element {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 180px;
    
}

.image {
    display: flex;
    flex: 1;
    background-color: lightgray;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1;
    background-color: white;
}

.detailsText {
    font-size: 14px;
}


.buttomPartOfTheElem {
    display: flex;
    flex: auto;
    width: 100%;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.minutesText {
    display: flex;
    font-size: 12px;
    position: absolute;
    top: -4px;
    left: 80%;
}

.smallButtonsContainer {
    display: flex;
    position: absolute;
    width: 72px;
    left: 2px;
}

.smallBtn {
    font-size: 10px;
    border-radius: 2px;
    margin: 0;
    width: 34px;
}

.noRightBorder {
    border-right: 0;
}

.footer {
    background-color: white;
    display: flex;
    flex: auto;
    width: 100%;
    height: 100px;
    padding: 40px;
}

.secondText{
    color: blue;
    margin-left: 660px;
}